<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="ContactUsSaverUiDataProviderEnquiryFormModifierPool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="enquiry_data" xsi:type="array">
                    <item name="class" xsi:type="string">Polushkin\ContactUsSaver\Ui\DataProvider\Enquiry\Form\Modifier\EnquiryData</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Polushkin\ContactUsSaver\Model\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">ContactUsSaverUiDataProviderEnquiryFormModifierPool</argument>
        </arguments>
    </type>
</config>